<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487145796003-6gfj33okj27q4o6c2gumipej0nqfori3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487145796003-6gfj33okj27q4o6c2gumipej0nqfori3</string>
	<key>API_KEY</key>
	<string>AIzaSyAlj6yowgQpatN5BESlU74jaXm5hCpDO5E</string>
	<key>GCM_SENDER_ID</key>
	<string>487145796003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elc.do-oeste</string>
	<key>PROJECT_ID</key>
	<string>do-oestre</string>
	<key>STORAGE_BUCKET</key>
	<string>do-oestre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487145796003:ios:8ddcb9b8447a9fe7f42a16</string>
	<key>DATABASE_URL</key>
	<string>https://do-oestre.firebaseio.com</string>
</dict>
</plist>